.about {
    background-color: var(--text-color);
}

.about h2, h3 {
    color: var(--theme-color);
}

.about-title {
    width: 200px;
    margin: 0 auto;
    align-items: center;    
}

.about-divider {
    height: 8px;
    width: 70px;
    background-color: var(--primary-color);
    margin: 8px 0 1.5em 0;
    border-radius: 20px;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: var(--theme-color);
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.about-content-info {
    width: 100%;
    max-width: 450px;
    grid-column: 1/1;
    text-align: center; 
    margin: 0 auto;
}

.about-content-details {
    width: 100%;
    max-width: 450px;
    grid-column: 1/1;
    text-align: center;
    margin: 0 auto;
}

.about-content p{
    font-size: 1.2em;
}

@media (min-width: 950px) {
    .about-content {
        grid-template-columns: repeat(12, 1fr);
    }

    .about-content-info {
        width: 100%;
        grid-column: 2/7;
        text-align: right; 
    }

    .about-content-details {
        width: 100%;
        grid-column: 8/11;
        text-align: left;
    }

}