.about {
    background-color: var(--text-color);
}

.about h2, h3 {
    color: var(--theme-color);
}

/* About original*/
/* .about-title {
    width: 200px;
    margin: 0 auto;
    align-items: center;    
} */

/* Animacion About title*/

.about-title {
    width: 182px;
    margin: 0 auto;
    align-items: center;
   -webkit-perspective:650;
}

.about-title-box {
    height: 77px;
    position: relative;
    transform-style: preserve-3d;
    transition: 1.5s;
} 

.about-title-box-side {    
    position: absolute;
    -moz-backface-visibility: hidden;
         backface-visibility: hidden;
}

.about-title-box-side-back {
    margin: 0 7px;
    transform: rotateY(180deg);
}

.about-title-box-side-front {
    transform: rotateX(0deg);
}

/*Fin animacion About title*/

.about-divider {
    height: 8px;
    width: 70px;
    background-color: var(--primary-color);
    margin: 8px 0 1.5em 0;
    border-radius: 20px;
}
/* Fin Animacion Divider */
.about-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: var(--theme-color);
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

/* .about-content-info {
    width: 100%;
    max-width: 450px;
    grid-column: 1/1;
    text-align: center; 
    margin: 0 auto;
} */

/* Animacion About Who */

.back-about-who-text{  /*backwho*/
    margin-bottom: 65px;
    transform: rotateY(180deg);
}

.about-content-info {
    width: 100%;
    max-width: 450px;
    grid-column: 1/1;
    text-align: center; 
    margin: 0 auto;
    -webkit-perspective:3950;
}

.about-content-info-who-box {
    height: 30px;
    width: 153px;
    margin: 0 auto;
    position: relative;
    transform-style: preserve-3d;
    transition: 1.7s;
} 

.about-content-info-who-box-side {
    position: absolute;
    -moz-backface-visibility: hidden;
         backface-visibility: hidden;
}

.about-content-info-who-box-side-front {
    margin-left: 9px;
    transform: rotateX(0deg);
}

.about-content-info-who-box-side-back {
    transform: rotateY(180deg);
}

/* Fin Animacion About Who */
/* Animacion About Who Text */
.about-content-info-who-text-box {
    height: 405px;
    position: relative;
    transform-style: preserve-3d;
    transition: 1.7s;
} 

.about-content-info-who-text-box-side {
    position: absolute;
    -moz-backface-visibility: hidden;
         backface-visibility: hidden;
}

.about-content-info-who-text-box-side-front {
    transform: rotateX(0deg);
}

.about-content-info-who-text-box-side-back {
    transform: rotateY(180deg);
}

/* Fin Animacion About Who Text */

/* Animacion Hobbies */
.about-content-details {
    width: 100%;
    max-width: 450px;
    grid-column: 1/1;
    text-align: center;
    margin: 0 auto;
}

.about-content-details-hobbies-box {
    height: 30px;
    width: 213px;
    margin: 0 auto;
    position: relative;
    transform-style: preserve-3d;
    transition: 1.7s;
} 

.about-content-details-hobbies-box-side {
    position: absolute;
    -moz-backface-visibility: hidden;
         backface-visibility: hidden;
}

.about-content-details-hobbies-box-side-front {
    margin-left: 33px;
    transform: rotateX(0deg);
}

.about-content-details-hobbies-box-side-back {
    transform: rotateY(180deg);
}
/* Fin Animacion Hobbies */

/* Animacion About Hobbies Text */

.back-about-hobbies-text{
    margin-bottom: 25px;
    transform: rotateY(180deg);
}

.about-content-details-hobbies-text-box {
    height: 189px;
    position: relative;
    transform-style: preserve-3d;
    transition: 1.7s;
}


.about-content-details-hobbies-text-box-side {
    position: absolute;
    -moz-backface-visibility: hidden;
         backface-visibility: hidden;
}

.about-content-details-hobbies-text-box-side-front {
    transform: rotateX(0deg);
}

.about-content-details-hobbies-text-box-side-back {
    transform: rotateY(180deg);
}

/* Fin Animacion About Who Text */

.about-content p{
    font-size: 1.2em;
}

@media (min-width: 350px) {
    .about-content-info-who-text-box {
        height: 360px;
    }

    .about-content-details-hobbies-text-box {
        height: 170px;
    }

    .back-about-hobbies-text{
        margin-bottom: 9px;
    }
}

@media (min-width: 379px) {
    .about-content-info-who-text-box {
        height: 348px;
    }

    .about-content-details-hobbies-text-box {
        height: 160px;
    }

    .back-about-hobbies-text{
        margin-bottom: 12px;
    }
}

@media (min-width: 390px) {

    .back-about-hobbies-text{
        margin-bottom: 0px;
    }
}

@media (min-width: 410px) {
    .about-content-info-who-text-box {
        height: 330px;
    }

    .back-about-who-text{
        margin-bottom: 30px;
    }

    .about-content-details-hobbies-text-box {
        height: 160px;
    }

}

@media (min-width: 499px) {
    .about-content-info-who-text-box {
        height: 300px;
    }

    .back-about-who-text{
        margin-bottom: 27px;
    }

    .about-content-details-hobbies-text-box {
        height: 150px;
    }

}

@media (min-width: 710px) {

    .back-about-who-text{
        margin-bottom: 26px;
    }

    .about-content-details-hobbies-text-box {
        height: 137px;
    }

}

@media (min-width: 950px) {
    .about-content {
        grid-template-columns: repeat(12, 1fr);
        max-width: 1150px;
        margin: auto;
    }

    .about-content-info {
        width: 100%;
        grid-column: 2/7;
        text-align: right; 
    }

    .back-about-who-text{
        margin-bottom: 40px;
    }

    .about-content-info-who-box {
        width: 100%;
    }
    
    .about-content-info-who-box-side-front{
        margin-left: 234px;
    }

    .about-content-details {
        width: 100%;
        height: 250px;
        margin-top: 19px;
        grid-column: 8/11;
        text-align: left;
    }

    .about-content-details-hobbies-box {
        margin: 0 0;
    }

    .about-content-details-hobbies-box-side-front {
        margin-left: 0px;
    }

    .about-content-details-hobbies-text-box {
        height: 221px;
    }

}

@media (min-width: 1023px) {
    
    .about-content-info-who-box-side-front{
        margin-left: 266px;
    }

    .about-content-info-who-text-box {
        height: 265px;
    }

    .back-about-who-text{
        margin-bottom: 68px;
    }

    .about-content-details {
        height: 230px;
        margin-top: 0px;
        padding-top: 51px;
    }

}

@media (min-width: 1080px) {
    
    .about-content-info-who-box-side-front{
        margin-left: 315px;
    }

    .about-content-info-who-text-box {
        height: 260px;
    }

    .back-about-who-text{
        margin-bottom: 23px;
    }

    .about-content-details {
        height: 205px;
        padding-top: 26px;
    }

}