.footer {
    background-color: var(--menu-mobile-background-color);
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center ;
}

.footer-credits {
    width: auto;
    margin: 4px auto 4px auto;
    color: var(--text-color);
    font-size: .8em;
    pointer-events: none;
}

.footer-autor {
    text-align: center;
    margin: 5px 0 5px 0;
}

.footer-name {
    color: var(--primary-color);
}

.footer-flag {
    display: flex;
    justify-content: center;
    align-content: center ;
}

.footer-flag img {
    width: 20px;
}

.footer-malvinas {
    display: flex;
    margin: 5px 0 5px 0;
    justify-content: center;
    align-content: center ;
}

.footer-malvinas img {
    width: 40px;
}
/* Animacion Credits */

.footer-credits-box{
    height: 69px;
    width: 311px; /*290px*/ 
    /*margin: 0 auto 0 auto;*/
    position: relative;
    transform-style: preserve-3d;
    transition: 1.5s;
}

.footer-credits-box-side{
    position: absolute;
    -moz-backface-visibility: hidden;
         backface-visibility: hidden;
}

.footer-credits-box-side-back{
    transform: rotateY(180deg);
}

.footer-credits-box-side-front{
    transform: rotateX(0deg); 
}

/* Fin Animacion Credits */

@media (min-width: 710px) {

    .footer-credits {
        width: 473px;
        font-size: .82em;
    }

    .footer-credits-box{
        height: 49px;
        width: auto;
    }

    .footer-credits-box-side-front{
        width: 473px;
    }

}

@media (min-width: 950px) {

    .footer-credits {
        width: 491px;
        font-size: .85em;
    }

    .footer-credits-box-side-front{
        width: 491px;
    }

}