.home {
    text-align: center;
    padding-bottom: 1em;
}

.home-img img {
    padding: 14px;
    width: 80%;
    max-width: 300px;
    border-radius: 50%;
    background-color: var(--image-transparent-background-color);
}

.home-info {
    margin: 25px 0 20px 0;
}

.home-info span{
    color: var(--primary-color);
}

.home-subtitle {
    text-transform: uppercase;
    margin-top: 5px;
}

.home-details {
    font-size: 1.3em;
    line-height: 1.3;
    max-width: 450px;
    margin: 20px auto;
}

.home-download-resume {
    padding: .7em 1.4em;
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    margin-top: 40px;
    cursor: pointer;
            box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .7);
       -moz-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .7);
    -webkit-box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .7);
}

.home-download-resume a {
    color: var(--text-color-inverse);
}
  
.home-download-resume:hover {
    background-color: var(--text-color);
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .9);
    transition: all .3s;
}

@media (min-width: 950px) {
    
    .home {
        text-align: left;
        display: flex;
        justify-content: space-evenly;
        max-width: 950px;
        margin: 0 auto;
        align-items: center;
    }
    
    .home-info {
        margin: 10px 0 0 0;
    }
    
    .home-subtitle {
        margin-top: 8px;
    }
    
    .home-download-resume {
        margin-top: 32px;
    }
}