.topheader {
  box-shadow: 0 1px 1px var(--navbar-shallow-color);
  position: fixed;
  background-color: var(--theme-color);
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.topnav {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  max-width: 1200px;
  margin: 0 auto;
}

/* Logo */

.brand {
 margin-top: -7px;
}

.brand span {
  color: var(--primary-color);
}

/* Menu */
.menu {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
  align-items: center;
}

.menu li {
  padding: 0 30px;  
}

.menu a {
  color: var(--text-color);
  font-size: 1.1em;
  font-weight: 400;
  position: relative;
}

.menu a::after {
  content: "";
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  width: 100%;
  height: 4px;
  border-radius: 20px;

  opacity: 0;
  transition: opacity .3s;
}

.menu a.active::after,
.menu a:hover::after {
  opacity: .9;
}

.open-menu,
.close-menu {
  display: none;
}

@media (max-width: 950px) {
  /* Menu */
  .menu {
    flex-direction: column;
    position: fixed;    
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: var(--menu-mobile-background-color);
    height: 100vh;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }

  .menu li {
    padding: 0;
    margin-top: 15px;
    margin-bottom: auto;
  }

  .menu a {
    color: var(--text-color);
    font-size: 1.15em;
    text-transform: uppercase;
  }

  .open-menu,
  .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
  }

  .close-menu {
    align-self: flex-end;
    padding: 33px 38px 0px 0px;
    /*padding: 41px 27px 0px 0px;*/
  }

  .menu_opened {
    opacity: 1;
    pointer-events: all;
  }

  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none;
  }

  .menu a::after {
    content: none;
  }
  
  .menu a.active,
  .menu a:hover {
    color: var(--primary-color);
    text-shadow: 1px 1px 1px rgb(55, 55, 55);
  }
}

/* Boton Idioma */

.cont-button-idioma {
  height: 30px;
  width: 30px;
  margin: auto;
  -webkit-perspective:650;
}

.button-flags {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: relative;
  transform-style: preserve-3d;
  transition: 1.5s;
}

.side-flag {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -moz-backface-visibility: hidden;
        backface-visibility: hidden;
  position: absolute;
}

.side-flag:hover {
  border-radius: 50%;    
  cursor: pointer;
}

.front-flag img, .back-flag img{
  width: 30px;
}

.back-flag{
  transform: rotateY(180deg);
}

.front-flag:hover{
  box-shadow: 0 0 10px 5px rgb(66, 196, 235);
}

.back-flag:hover{
  box-shadow: 0 0 10px 5px rgb(23, 19, 242);
}