.portfolio {
    background-color: var(--text-color);
}

.portfolio h2 {
    text-align: center;
    color: var(--theme-color);
}

.portfolio h4 {
    text-align: center;
    color: var(--text-color);
}

/* .portfolio-content-title {
    width: 200px;
    margin: 0 auto;
    align-items: center;
} */

/* Animacion Portfolio */

.portfolio-content-title {
    width: 200px;
    margin: 0 auto;
    align-items: center;
}
.portfolio-content-title-box {
    height: 80px;
    position: relative;
    transform-style: preserve-3d;
    transition: 1.5s;
} 

.portfolio-content-title-box-side {    
    position: absolute;
    -moz-backface-visibility: hidden;
         backface-visibility: hidden;
}

.portfolio-content-title-box-side-back {
    margin-left: -10px;
    transform: rotateY(180deg);
}

/* Fin Animacion Portfolio */

.portfolio-divider {
    height: 8px;
    width: 70px;
    background-color: var(--primary-color);
    margin: 8px 0 1.5em 0;
    border-radius: 20px;
}

.center-950 {
    max-width: 950px;
    margin: 0 auto;
}

.porfolio-container-cards {
    display: grid;
    grid-template-columns: repeat(1, minmax(280px, .45fr));
    padding-top: 1em;
    padding-bottom: 2.5em;
    gap: 3em;
    justify-content: space-evenly;
}

.portfolio-card {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(8, 8, 8, 0.4);
    /*transition: transform 2 all;*/
    transition: all .3s;
    /*border: solid 1px rgb(1, 42, 119);*/
}

.portfolio-card-title {
    font-size: 1.25em;
}

.portfolio-card p {
    display: flex;
    padding-left: 13px;
    padding-right: 13px;
    height: 121px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 12px;
}

.portfolio-card:hover {
    transform: scale(1.04);
    box-shadow: 0 4px 10px rgba(8, 8, 8, 0.808);
}

.portfolio-card-img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover; 
    margin-bottom: 20px;
    filter: brightness(.9);
    transition: all .3s;
}

.portfolio-card-img:hover {
    filter: brightness(1.01);
}

.portfolio-card-img img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
        
.portfolio-card-links {
    padding-bottom: 12px;
}

.portfolio-card-links a {
    margin: 0px 10px;
}

.portfolio-card-links i {
    font-size: 22px;    
    align-self: center;
    color: var(--text-color);
    transition: all .2s;    
}

.portfolio-card-links i:hover {
    color: var(--primary-color);
    
}

@media (min-width: 710px) {
    .porfolio-container-cards {
        grid-template-columns: repeat(2, minmax(250px, 280px));
    }
}

@media (min-width: 950px) {
    .porfolio-container-cards {
        grid-template-columns: repeat(3, minmax(280px, 320px));

    }
}