.skills h2 {
    text-align: center;
}

/* Animacion Skills */
.back-skills{
    margin-bottom: 55px;
    transform: rotateY(180deg);
}
.skills-content-title {
    width: 270px;
    margin: 0 auto;
    align-items: center;
    -webkit-perspective:650;
}
.skills-content-title-box {
    height: 60px;
    position: relative;
    transform-style: preserve-3d;
    transition: 1.5s;
} 

.skills-content-title-box-side {    
    position: absolute;
    -moz-backface-visibility: hidden;
         backface-visibility: hidden;
}

.skills-content-title-box-side-back {
    transform: rotateY(180deg);
}

.skills-content-title-box-side-front {
    transform: rotateX(0deg);
}

/* Fin Animacion Skills */
.skills-divider {
    height: 8px;
    width: 70px;
    background-color: var(--primary-color);
    margin: 8px 0 1.5em 0;
    border-radius: 20px;
}

.skills span {
    color: var(--primary-color);
}

.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Sombra blanca*/
.skills-list li {
    font-size: 1.2em;
    font-weight: 500;
    box-shadow: 3px 3px 6px rgb(255 255 255 / 60%);
    border-radius: 42px;
    padding: .5em .7em;  
    margin: .5em; 
}

@media (min-width: 950px) {
    .skills {
        margin: 1.7em auto 1.7em auto;
        max-width: 980px;
    }
    
    .skills-list li {
        margin: .7em;
    }

    .back-skills{
        margin-bottom: 0px;
        transform: rotateY(180deg);
    }

    .skills-content-title {
        width: 545px;
    }

    .skills-content-title-box-side-front {
        margin-left: 138px;
    }
}